@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>ShortWay</h2>
    <p class="lead">Easily find paths in directed and weighted graphs</p>
    <button type="button" class="btn btn-outline-info" onclick="importGraph()">Import Graph</button>
    <button type="button" class="btn btn-outline-success" onclick="importGraph()">Show Main Graph</button>

</div>

@section scripts {
    <script>
        $(document).ready(() => {

        });

        function importGraph() {

        }

    </script>
}